!!! 
%html{:lang => "en"}
%head
  %meta{:charset => "uft-8"} 
  %title Backbone Contacts App 
  %link{:type => "text/css", :rel => "stylesheet", :href => "/stylesheets/styles.css"}

%body
  %h1 Header One 
  %script{:src => "/javascripts/scripts.js"} 